<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>
<!-- navigation -->
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/articles" class="nav-link px-2 text-secondary">Home</a></li>
            </ul>

            <div class="text-end">
        <span sec:authorize="isAnonymous()">
          <button type="button" class="btn btn-outline-light me-2"
                  onclick="window.location.href='/members/login'">로그인</button>
        <button type="button" class="btn btn-warning" onclick="window.location.href='/members/signup'">회원가입</button>
        </span>
                <span sec:authorize="isAuthenticated()">
          <span th:if="${member!=null}" th:text="${member.username}+'님 안녕하세요'"
                style="margin-right:5px"></span>
          <button type="button" class="btn btn-outline-light me-2" onclick="window.location.href='/members/logout'"
          >로그아웃</button>
        </span>
            </div>
        </div>
    </div>
</header>
<div class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/members/signup}" th:object="${memberCreateForm}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" th:field="*{username}" class="form-control" id="username" required>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control" id="password1" required>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" class="form-control" id="password2" required>
            <div th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}" class="text-danger"></div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" required>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</body>
</html>